.hook {
  &-card {
    margin-block: 1rem;
    min-width: 250px;
    min-height: 190px;
    border-radius: 4px;
    padding: 1.2rem;
    &.hook-card-primary {
      box-shadow: 0 0 0.5rem darken(rgba($primary, $alpha: 0.3), $amount: 20);
      color: #f2f2f2;
      background-color: $primary;
    }

    &.hook-card-info {
      box-shadow: 0 0 0.5rem darken(rgba($info, $alpha: 0.3), $amount: 20);
      color: #363636;
      background-color: $info;
    }
  }
}
